.vscode/
.idea/
pipeline-bundle-list
task-bundle-list
bundle_values.env

*~
*.swp
.checkton.sarif
**/vendor

# expected and got files generated in trusted-artifacts tests when mismatch occurs
task-generator/trusted-artifacts/golden/**/expected
task-generator/trusted-artifacts/golden/**/got
# Generated binaries
task-generator/trusted-artifacts/trusted-artifacts
task-generator/remote/remote

