# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @konflux-ci/build-maintainers

# renovate groupName=build
/task/acs-deploy-check                      @konflux-ci/build-maintainers
/task/acs-image-check                       @konflux-ci/build-maintainers
/task/acs-image-scan                        @konflux-ci/build-maintainers
/task/apply-tags                            @konflux-ci/build-maintainers
/task/build-image-index                     @konflux-ci/build-maintainers @Allda @jedinym
/task/build-image-manifest                  @konflux-ci/build-maintainers @Allda @jedinym
/task/buildah                               @konflux-ci/build-maintainers @Allda @jedinym
/task/buildah-min                           @konflux-ci/build-maintainers @Allda @jedinym
/task/buildah-oci-ta                        @konflux-ci/build-maintainers @Allda @jedinym
/task/buildah-remote                        @konflux-ci/build-maintainers @Allda @jedinym
/task/buildah-remote-oci-ta                 @konflux-ci/build-maintainers @Allda @jedinym
/task/buildah-rhtap                         @konflux-ci/build-maintainers @Allda @jedinym
/task/download-sbom-from-url-in-attestation @konflux-ci/build-maintainers @Allda @jedinym
/task/gather-deploy-images                  @konflux-ci/build-maintainers
/task/git-clone                             @konflux-ci/build-maintainers
/task/git-clone-oci-ta                      @konflux-ci/build-maintainers
/task/init                                  @konflux-ci/build-maintainers
/task/pnc-prebuild-git-clone-oci-ta         @konflux-ci/build-maintainers @rnc
/task/push-dockerfile                       @konflux-ci/build-maintainers
/task/push-dockerfile-oci-ta                @konflux-ci/build-maintainers
/task/show-sbom                             @konflux-ci/build-maintainers @Allda @jedinym
/task/show-sbom-rhdh                        @konflux-ci/build-maintainers @Allda @jedinym
/task/slack-webhook-notification            @konflux-ci/build-maintainers
/task/slack-webhook-notification-oci-ta     @konflux-ci/build-maintainers
/task/source-build                          @konflux-ci/build-maintainers @Allda @jedinym
/task/source-build-oci-ta                   @konflux-ci/build-maintainers @Allda @jedinym
/task/summary                               @konflux-ci/build-maintainers
/task/update-deployment                     @konflux-ci/build-maintainers
/task/update-infra-deployments              @konflux-ci/build-maintainers
/task/upload-sbom-to-trustification         @konflux-ci/build-maintainers @Allda @jedinym

# renovate groupName=build-prefetch
/task/prefetch-dependencies         @konflux-ci/build-maintainers @a-ovchinnikov @brunoapimentel @eskultety @taylormadore
/task/prefetch-dependencies-oci-ta  @konflux-ci/build-maintainers @a-ovchinnikov @brunoapimentel @eskultety @taylormadore

# renovate groupName=build
/task/generate-labels   @konflux-ci/build-maintainers @ralphbean

# renovate groupName=ec
/task/tkn-bundle                    @konflux-ci/ec @amisstea @avi-biton @gbenhaim @yftacherzog
/task/tkn-bundle-oci-ta             @konflux-ci/ec @amisstea @avi-biton @gbenhaim @yftacherzog
/task/verify-enterprise-contract    @konflux-ci/ec
/pipelines/enterprise-contract.yaml @konflux-ci/ec
/.tekton/tasks/ec-checks.yaml       @konflux-ci/ec

# renovate groupName=integration
/external-task/clair-scan                       @konflux-ci/integration-service-maintainers
/external-task/clamav-scan                      @konflux-ci/integration-service-maintainers
/external-task/deprecated-image-check           @konflux-ci/integration-service-maintainers
/task/clair-scan                                @konflux-ci/integration-service-maintainers
/task/clamav-scan                               @konflux-ci/integration-service-maintainers
/task/deprecated-image-check                    @konflux-ci/integration-service-maintainers
/task/fbc-fips-check                            @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/fbc-fips-check-oci-ta                     @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/fbc-target-index-pruning-check            @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/run-opm-command-oci-ta                    @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/sbom-json-check                           @konflux-ci/integration-service-maintainers @Allda @jedinym
/task/validate-fbc                              @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/fips-operator-bundle-check                @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/fips-operator-bundle-check-oci-ta         @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/stepactions/fips-operator-check-step-action    @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry

# renovate groupName=integration
/task/coverity-availability-check           @konflux-ci/integration-service-maintainers @sfowl
/task/sast-coverity-check                   @konflux-ci/integration-service-maintainers @konflux-ci/build-maintainers @sfowl
/task/sast-coverity-check-oci-ta            @konflux-ci/integration-service-maintainers @konflux-ci/build-maintainers @sfowl
/task/sast-shell-check                      @konflux-ci/integration-service-maintainers @sfowl
/task/sast-shell-check-oci-ta               @konflux-ci/integration-service-maintainers @sfowl
/task/sast-snyk-check                       @konflux-ci/integration-service-maintainers @sfowl
/task/sast-snyk-check-oci-ta                @konflux-ci/integration-service-maintainers @sfowl
/task/sast-unicode-check                    @konflux-ci/integration-service-maintainers @sfowl
/task/sast-unicode-check-oci-ta             @konflux-ci/integration-service-maintainers @sfowl

# renovate groupName=preflight
/task/ecosystem-cert-preflight-checks   @acornett21 @bcrochet @komish @skattoju @caxu-rh

# maintained in tekton-tools, thus should be ignored by renovate
/task/rpms-signature-scan   @amisstea @avi-biton @gbenhaim @yftacherzog
/task/verify-signed-rpms    @amisstea @avi-biton @gbenhaim @yftacherzog

# renovate groupName=vanguard
/external-task/rpms-signature-scan          @amisstea @avi-biton @gbenhaim @yftacherzog
/task/build-helm-chart                      @amisstea @avi-biton @gbenhaim @yftacherzog
/task/build-helm-chart-oci-ta               @amisstea @avi-biton @gbenhaim @yftacherzog
/pipelines/tekton-bundle-builder            @konflux-ci/ec @amisstea @avi-biton @gbenhaim @yftacherzog
/pipelines/tekton-bundle-builder-oci-ta     @konflux-ci/ec @amisstea @avi-biton @gbenhaim @yftacherzog

# renovate groupName=eaas
/stepactions/eaas-copy-secrets-to-ephemeral-cluster         @konflux-ci/eaas-maintainers
/stepactions/eaas-create-ephemeral-cluster-hypershift-aws   @konflux-ci/eaas-maintainers
/stepactions/eaas-get-ephemeral-cluster-credentials         @konflux-ci/eaas-maintainers
/stepactions/eaas-get-latest-openshift-version-by-prefix    @konflux-ci/eaas-maintainers
/stepactions/eaas-get-supported-ephemeral-cluster-versions  @konflux-ci/eaas-maintainers
/task/eaas-provision-space                                  @konflux-ci/eaas-maintainers

# renovate groupName=sealights
/task/sealights-go-oci-ta          @ascerra @flacatus @psturc @Dannyb48
/task/sealights-nodejs-oci-ta      @ascerra @flacatus @psturc @Dannyb48
/task/sealights-python-oci-ta      @ascerra @flacatus @psturc @Dannyb48

# renovate groupName=build-vm-image
/task/build-vm-image    @arewm @brianwcook @ralphbean @scoheb

# renovate groupName=opm
/task/operator-sdk-generate-bundle  @gurnben @jbpratt
/task/opm-get-bundle-version        @gurnben @jbpratt
/task/opm-render-bundles            @gurnben @jbpratt

# renovate groupName=maven
/task/build-maven-zip           @ligangty @yma96 @Allda @jedinym
/task/build-maven-zip-oci-ta    @ligangty @yma96 @Allda @jedinym

# renovate groupName=oci-copy
/task/oci-copy          @ralphbean @Allda @jedinym
/task/oci-copy-oci-ta   @ralphbean @Allda @jedinym

# renovate groupName=modelcar-oci
/task/modelcar-oci-ta   @Victoremepunto @ralphbean @Allda @jedinym

# renovate groupName=buildpack
/task/build-paketo-builder-oci-ta @cmoulliard @Allda @jedinym

# renovate groupName=oci-run-script
/task/run-script-oci-ta @konflux-ci/build-maintainers @Zokormazo @arewm

# renovate groupName=package-operator
/task/package-operator-package @eqrx @erdii

# These are auto-generated and often require changes when tasks change.
# Allow anyone with write access to approve the changes.
/pipelines/*/README.md
