# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @konflux-ci/build-maintainers

# renovate groupName=build
/task/acs-deploy-check                      @konflux-ci/build-maintainers
/task/acs-image-check                       @konflux-ci/build-maintainers
/task/acs-image-scan                        @konflux-ci/build-maintainers
/task/apply-tags                            @konflux-ci/build-maintainers
/task/build-image-index                     @konflux-ci/build-maintainers
/task/build-image-manifest                  @konflux-ci/build-maintainers
/task/buildah                               @konflux-ci/build-maintainers
/task/buildah-10gb                          @konflux-ci/build-maintainers
/task/buildah-20gb                          @konflux-ci/build-maintainers
/task/buildah-24gb                          @konflux-ci/build-maintainers
/task/buildah-6gb                           @konflux-ci/build-maintainers
/task/buildah-8gb                           @konflux-ci/build-maintainers
/task/buildah-min                           @konflux-ci/build-maintainers
/task/buildah-oci-ta                        @konflux-ci/build-maintainers
/task/buildah-remote                        @konflux-ci/build-maintainers
/task/buildah-remote-oci-ta                 @konflux-ci/build-maintainers
/task/buildah-rhtap                         @konflux-ci/build-maintainers
/task/download-sbom-from-url-in-attestation @konflux-ci/build-maintainers
/task/gather-deploy-images                  @konflux-ci/build-maintainers
/task/git-clone                             @konflux-ci/build-maintainers
/task/git-clone-oci-ta                      @konflux-ci/build-maintainers
/task/init                                  @konflux-ci/build-maintainers
/task/push-dockerfile                       @konflux-ci/build-maintainers
/task/push-dockerfile-oci-ta                @konflux-ci/build-maintainers
/task/show-sbom                             @konflux-ci/build-maintainers
/task/show-sbom-rhdh                        @konflux-ci/build-maintainers
/task/slack-webhook-notification            @konflux-ci/build-maintainers
/task/source-build                          @konflux-ci/build-maintainers
/task/source-build-oci-ta                   @konflux-ci/build-maintainers
/task/summary                               @konflux-ci/build-maintainers
/task/update-deployment                     @konflux-ci/build-maintainers
/task/update-infra-deployments              @konflux-ci/build-maintainers
/task/upload-sbom-to-trustification         @konflux-ci/build-maintainers

# renovate groupName=build
/task/prefetch-dependencies         @konflux-ci/build-maintainers @brunoapimentel @eskultety @taylormadore
/task/prefetch-dependencies-oci-ta  @konflux-ci/build-maintainers @brunoapimentel @eskultety @taylormadore

# renovate groupName=build
/task/generate-labels   @konflux-ci/build-maintainers @ralphbean

# renovate groupName=ec
/task/tkn-bundle                    @konflux-ci/ec
/task/tkn-bundle-oci-ta             @konflux-ci/ec
/task/verify-enterprise-contract    @konflux-ci/ec
/pipelines/enterprise-contract.yaml @konflux-ci/ec
/.tekton/tasks/ec-checks.yaml       @konflux-ci/ec

# renovate groupName=integration
/task/clair-scan                                @konflux-ci/integration-service-maintainers
/task/clamav-scan                               @konflux-ci/integration-service-maintainers
/task/deprecated-image-check                    @konflux-ci/integration-service-maintainers
/task/fbc-fips-check                            @konflux-ci/integration-service-maintainers
/task/fbc-fips-check-oci-ta                     @konflux-ci/integration-service-maintainers
/task/fbc-related-image-check                   @konflux-ci/integration-service-maintainers
/task/fbc-validation                            @konflux-ci/integration-service-maintainers
/task/inspect-image                             @konflux-ci/integration-service-maintainers
/task/sbom-json-check                           @konflux-ci/integration-service-maintainers
/task/validate-fbc                              @konflux-ci/integration-service-maintainers
/task/fips-operator-bundle-check                @konflux-ci/integration-service-maintainers
/task/fips-operator-bundle-check-oci-ta         @konflux-ci/integration-service-maintainers
/stepactions/fips-operator-check-step-action    @konflux-ci/integration-service-maintainers

# renovate groupName=integration
/task/coverity-availability-check           @konflux-ci/integration-service-maintainers @kdudka
/task/coverity-availability-check-oci-ta    @konflux-ci/integration-service-maintainers @kdudka
/task/sast-coverity-check                   @konflux-ci/integration-service-maintainers @konflux-ci/build-maintainers @kdudka
/task/sast-coverity-check-oci-ta            @konflux-ci/integration-service-maintainers @konflux-ci/build-maintainers @kdudka
/task/sast-shell-check                      @konflux-ci/integration-service-maintainers @kdudka
/task/sast-shell-check-oci-ta               @konflux-ci/integration-service-maintainers @kdudka
/task/sast-snyk-check                       @konflux-ci/integration-service-maintainers @kdudka
/task/sast-snyk-check-oci-ta                @konflux-ci/integration-service-maintainers @kdudka
/task/sast-unicode-check                    @konflux-ci/integration-service-maintainers @kdudka
/task/sast-unicode-check-oci-ta             @konflux-ci/integration-service-maintainers @kdudka

# renovate groupName=preflight
/task/ecosystem-cert-preflight-checks   @acornett21 @bcrochet @komish @skattoju

# maitained in tekton-tools, thus should be ignored by renovate
/task/provision-env-with-ephemeral-namespace    @amisstea @avi-biton @gbenhaim @omeramsc @yftacherzog
/task/generate-odcs-compose @amisstea @avi-biton @gbenhaim @yftacherzog
/task/rpms-signature-scan   @amisstea @avi-biton @gbenhaim @yftacherzog
/task/verify-signed-rpms    @amisstea @avi-biton @gbenhaim @yftacherzog

# renovate groupName=eaas
/stepactions/eaas-copy-secrets-to-ephemeral-cluster         @amisstea @avi-biton @hmariset @omeramsc @yftacherzog
/stepactions/eaas-create-ephemeral-cluster-hypershift-aws   @amisstea @avi-biton @hmariset @omeramsc @yftacherzog
/stepactions/eaas-get-ephemeral-cluster-credentials         @amisstea @avi-biton @hmariset @omeramsc @yftacherzog
/stepactions/eaas-get-latest-openshift-version-by-prefix    @amisstea @avi-biton @hmariset @omeramsc @yftacherzog
/stepactions/eaas-get-supported-ephemeral-cluster-versions  @amisstea @avi-biton @hmariset @omeramsc @yftacherzog
/task/eaas-provision-space                                  @amisstea @avi-biton @hmariset @omeramsc @yftacherzog

# renovate groupName=build-vm-image
/task/build-vm-image    @arewm @brianwcook @ralphbean @scoheb

# renovate groupName=rpm-ostree
/task/rpm-ostree        @cgwalters
/task/rpm-ostree-oci-ta @cgwalters

# renovate groupName=opm
/task/operator-sdk-generate-bundle  @gurnben @jbpratt
/task/opm-get-bundle-version        @gurnben @jbpratt
/task/opm-render-bundles            @gurnben @jbpratt

# renovate groupName=maven
/task/build-maven-zip           @ligangty @yma96
/task/build-maven-zip-oci-ta    @ligangty @yma96

# renovate groupName=oci-copy
/task/oci-copy          @ralphbean
/task/oci-copy-oci-ta   @ralphbean

# renovate groupName=buildpack
/task/build-paketo-builder-oci-ta @cmoulliard

# These are auto-generated and often require changes when tasks change.
# Allow anyone with write access to approve the changes.
/pipelines/*/README.md
