apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: ec-checks
  labels:
    app.kubernetes.io/version: "0.1"
  annotations:
    tekton.dev/pipelines.minVersion: "0.12.1"
    tekton.dev/displayName: "Enterprise Contract Checks"
    tekton.dev/platforms: "linux/amd64"
spec:
  description: >-
    This task can be used to run enterprise contract checks
  steps:
  - name: gather-tasks
    image: quay.io/konflux-ci/appstudio-utils:ab6b0b8e40e440158e7288c73aff1cf83a2cc8a9@sha256:24179f0efd06c65d16868c2d7eb82573cce8e43533de6cea14fec3b7446e0b14
    # per https://kubernetes.io/docs/concepts/containers/images/#imagepullpolicy-defaulting
    # the cluster will set imagePullPolicy to IfNotPresent
    workingDir: $(workspaces.source.path)/source
    script: |
      source hack/ec-checks.sh
      $(build_tasks_dir build_tasks-ec)
      $(all_tasks_dir all_tasks-ec)
  - name: validate-all-tasks
    workingDir: "$(workspaces.source.path)/source"
    image: quay.io/enterprise-contract/ec-cli:snapshot@sha256:913c7dac3d41877b01835d2e55bcd970c6cdbf4944f8176e9e3de9548642a2b4
    script: |
      set -euo pipefail

      # Generate list of file parameters, e.g. --file foo.yaml --file bar.yaml
      files=(all_tasks-ec/*.yaml)
      args=${files[*]/#/--file }
      echo "[DEBUG] Files parameter: ${args[*]}"

      policy='./policies/all-tasks.yaml'

      ec validate input --policy "${policy}" --output yaml --strict=true ${args[*]}
  - name: validate-build-tasks
    workingDir: "$(workspaces.source.path)/source"
    image: quay.io/enterprise-contract/ec-cli:snapshot@sha256:913c7dac3d41877b01835d2e55bcd970c6cdbf4944f8176e9e3de9548642a2b4
    script: |
      set -euo pipefail

      # Generate list of file parameters, e.g. --file foo.yaml --file bar.yaml
      files=(build_tasks-ec/*.yaml)
      args=${files[*]/#/--file }
      echo "[DEBUG] Files parameter: ${args[*]}"

      policy='./policies/build-tasks.yaml'

      ec validate input --policy "${policy}" --output yaml --strict=true ${args[*]}
  workspaces:
    - name: source
