name: Validate PR - buildah-remote
'on':
  pull_request:
    branches: [main]
jobs:
  go:
    name: Check Buildah Remote
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - name: Install Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5
        with:
          go-version-file: './task-generator/remote/go.mod'
      - name: Check buildah remote
        run: |
          ./hack/generate-buildah-remote.sh
          if [[ ! -z $(git status -s) ]]
          then
            echo "buildah-remote is not up to date, run ./hack/generate-buildah-remote.sh"
            git status -s
            git --no-pager diff
            exit 1
          fi
