name: Validate PR - buildah-remote
'on':
  pull_request:
    branches: [main]
  merge_group:
    types: [checks_requested]
jobs:
  go:
    name: Check Buildah Remote
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Install Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version-file: './task-generator/remote/go.mod'
      - name: Check buildah remote
        run: |
          ./hack/generate-buildah-remote.sh
          if [[ ! -z $(git status -s) ]]
          then
            echo "buildah-remote is not up to date, run ./hack/generate-buildah-remote.sh"
            echo "Or run ./hack/generate-everything.sh to run all the generators at once."
            git status -s
            git --no-pager diff
            exit 1
          fi
