---
name: Shellspec Tests

"on":
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  Shellspec:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: jerop/tkn@v0.1.0

      - name: Shellspec
        run: hack/test-shellspec.sh
